.mybtn:hover
{
    background-color: white;
    border: 4px solid rgb(194, 131, 142);
    font-weight: bold;
}
.mybtn:focus
{
    color: white;
    border-color: white;
}
.mybtn:focus:hover
{
    background-color: white;
    border: 4px solid rgb(194, 131, 142);
    font-weight: bold;
    color:rgb(194, 131, 142);
}